body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
.header {
  padding: 80px;
  text-align: center;
  background: #1abc9c;
  color: white;
}
.header h1 {
  font-size: 40px;
}
.body {
  padding: 80px;
  text-align: center;
  background: #e0876a;
  color: white;
}
.body h1 {
  font-size: 40px;
}
.body-1 {
  padding: 80px;
  text-align: center;
  background: #622569;
  color: white;
}
.body-1 h1 {
  font-size: 40px;
}