#logo {
  color: white;
  border-top: 2px solid #ff8533;
  border-bottom: 2px solid #ff8533;
  display: block;
  position: relative;
  float: right;
  text-align: right;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
}
.navig {
  padding: 5px;
  display: inline-block;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  left: 10px;
}
.navig p {
  color: white;
  padding: 0px 8px 0px 8px;
}
.navig a {
  color: white;
  padding: 0px 8px 0px 8px;
  text-decoration: none;
  font-size: 25px;
  display: inline;
}

.navig a:hover {
  color: #ff8533;
}
